<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="co.withyou.care.family.Update.mapper.FamilyUpdateMapper">

	<!-- 로그인 -->
	<select id="getSelect" parameterType="FamilyUpdateVo"
		resultType="FamilyUpdateVo">
		SELECT
		f.familyEmail,f.familyName,f.familyBirth,f.familyAddr,f.familyTel,p.patientName,p.patientBirth,p.patientAddr,p.patientSex,p.patientTel,p.patientFamilyTel,p.patientBlood,p.patientDisease,p.patientGrade,p.patientMedication,p.patientUnique
		FROM family f, patient p
		WHERE f.familyNo = #{familyNo};
	</select>
	
	<select id="Update" parameterType="FamilyUpdateVo">
		
	</select>
</mapper>
