<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.withyou.care.family.Update.mapper.FamilyUpdateMapper">

	<!-- 로그인 -->
	<select id="getSelect" parameterType="FamilyUpdateVo" resultType="FamilyUpdateVo">
		SELECT * FROM family WHERE FAMILYEMAIL = #{familyEmail}
	</select>
	<select id="Update" parameterType="FamilyUpdateVo">
		UPDATE family AS a, patient p
		SET a.familyName = #{familyName},a.familyAddr
		WHERE
		AND
	</select>
</mapper>
