<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="co.withyou.care.family.patientLine.mapper.PatientLineMapper">
	
	<select id="getPatientNo" parameterType="int" resultType="int">
		SELECT PATIENTNO FROM PATIENT WHERE FAMILYNO = #{value}
	</select>
	

	<select id="getGpsList" parameterType="PatientLocVO" resultType="PatientLocVO">
		SELECT *
		FROM PATIENTLOC
		WHERE TRUNC(PATIENTLOCTIME) = #{patientLoctime}
        AND PATIENTNO = #{patientNo}
		ORDER BY PATIENTLOCTIME
	</select>
	<select id="getTodayLine" parameterType="PatientLocVO" resultType="patientLocVO">
		SELECT *
		FROM PATIENTLOC
		WHERE TRUNC(PATIENTLOCTIME) = TRUNC(SYSDATE)
        AND PATIENTNO = #{patientNo}
	</select>
	<select id="getSevenLine" parameterType="PatientLocVO" resultType="PatientLocVO">
		SELECT *
		FROM PATIENTLOC
		WHERE PATIENTLOCTIME <![CDATA[>=]]> TRUNC(SYSDATE)<![CDATA[-]]>'7'
        AND PATIENTNO = #{patientNo}
		ORDER BY PATIENTLOCTIME
	</select>

</mapper>
